<idea-plugin>
  <id>{{id}}</id>
  <!-- added 'Theme' to name for SEO -->
  <name>{{name}} Theme</name>
  <version>{{version}}</version>
  <vendor url="https://thematic.dev">Thematic</vendor>

  <description>
    <![CDATA[
      The unofficial Monokai Pro theme, adapted for JetBrains by <a href="https://thematic.dev">Thematic</a>. This plugin includes the default theme and four filters: Machine, Octagon, Ristretto, and Spectrum. Credit goes to the original creator: <a href="https://monokai.pro">https://monokai.pro</a>.
      <br/><br/>
      Contribute with GitHub: <a href="https://github.com/thematic-dev/monokai-pro">https://github.com/thematic-dev/monokai-pro</a>
      <br/><br/>
      <img src="https://raw.githubusercontent.com/thematic-dev/monokai-pro/master/apps/jetbrains/screenshots/default.png" border="0" width="320">
      <br/>
      <img src="https://raw.githubusercontent.com/thematic-dev/monokai-pro/master/apps/jetbrains/screenshots/machine.png" border="0" width="320">
      <br/>
      <img src="https://raw.githubusercontent.com/thematic-dev/monokai-pro/master/apps/jetbrains/screenshots/octagon.png" border="0" width="320">
      <br/>
      <img src="https://raw.githubusercontent.com/thematic-dev/monokai-pro/master/apps/jetbrains/screenshots/ristretto.png" border="0" width="320">
      <br/>
      <img src="https://raw.githubusercontent.com/thematic-dev/monokai-pro/master/apps/jetbrains/screenshots/spectrum.png" border="0" width="320">
    ]]>
  </description>

  <idea-version since-build="191.0"/>
  <depends>com.intellij.modules.lang</depends>

  <extensions defaultExtensionNs="com.intellij">
    {% for color in colors %}
    <themeProvider id="{{color.id}}" path="/{{color.id}}.json"/>
    {% endfor %}
  </extensions>
</idea-plugin>
